body {
    font-family: 'Karla', sans-serif;
    font-size: 1em;
    background-color: hsl(204, 43%, 93%);
}

.container {
    margin: 200px auto;
    display: grid;
    grid-template-columns: repeat(2, 25em);
    grid-template-rows: repeat(2, 17.1875em);
    grid-template-areas: 'top   top'
        'subscription   whyUs';
    width: 50em;
    height: 34.375em;
}

.top {
    padding-left: 3.125em;
    grid-area: top;
    background-color: hsl(0, 0%, 100%);
    text-align: left;
    border-radius: 1.5625em 1.5625em 0 0;
}

.title {
    color: hsl(179, 62%, 43%);
    font-weight: 700;
    font-size: 2.625em;
    margin-bottom: 0;
}

.subtitle {
    color: hsl(71, 73%, 54%);
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 0;
}

.info {
    padding-bottom: 0.625em;
}

.info-paragraph {
    color: hsl(218, 22%, 67%);
    font-weight: 400;
}

.subscription {
    padding-left: 3.125em;
    grid-area: subscription;
    background-color: hsl(179, 62%, 43%);
    text-align: left;
    border-radius: 0 0 0 1.5625em;
    border: solid rgba(0, 0, 0, .5);
    border-width: 0 0 1px 0;
}

.title-subscription {
    font-weight: 700;
    font-size: 1.5em;
    color: hsl(0, 0%, 100%);
    margin-bottom: 0.625em;
}

.price {
    color: hsl(218, 22%, 67%);
    font-weight: 700;
    font-size: 1.125em;
    line-height: 1.5;
    display: inline-block;
    padding-left: 0.625em;
    margin: 0;
}

.price-number {
    color: hsl(204, 43%, 93%);
    font-size: 1.6875em;
    font-weight: 700;
}

.access {
    color: hsl(204, 43%, 93%);
    font-size: 1.125em;
}

.signup {
    width: 18.75em;
    height: 3.75em;
    background-color: hsl(71, 73%, 54%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 0.625em;
    font-size: 1.25em;
}

.whyUs {
    padding-left: 3.125em;
    grid-area: whyUs;
    background-color: hsl(179, 47%, 52%);
    text-align: left;
    border-radius: 0 0 1.5625em 0;
}

.title-why {
    font-weight: 700;
    font-size: 1.5em;
    color: hsl(0, 0%, 100%);
    margin-bottom: 10px;
}


.info-why {
    color: hsla(0, 0%, 100%, .5);
    padding: 0;
    margin: 0.625em 0 0 0;
    font-size: 0.875em;
}

.attribution {
    font-size: 0.6875em;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media(max-width: 375px) {
    .container {
        margin: 50px auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 'top'
            'subscription'
            'whyUs';
        width: 350px;
        height: 700px;
        padding: 0;
    }

    .top {
        padding: 20px;
        width: 300px;
    }

    .title {
        font-size: 24px;
        text-align: left;
    }

    .subtitle {
        font-size: 16px;
        margin-bottom: 0;
    }

    .info {
        padding-bottom: 0.625em;
    }

    .info-paragraph {
        color: hsl(218, 22%, 67%);
        font-weight: 400;
    }

    .subscription {
        grid-area: subscription;
        text-align: left;
        border-radius: 0;
        width: 300px;
        padding: 20px;
    }

    .title-subscription {
        font-weight: 700;
        font-size: 16px;
        color: hsl(0, 0%, 100%);
        margin-bottom: 0.625em;
    }

    .price {
        color: hsl(218, 22%, 67%);
        font-weight: 700;
        font-size: 1.125em;
        line-height: 1.5;
        display: inline-block;
        padding-left: 0.625em;
        margin: 0;
    }

    .price-number {
        color: hsl(204, 43%, 93%);
        font-size: 1.6875em;
        font-weight: 700;
    }

    .access {
        color: hsl(204, 43%, 93%);
        font-size: 1.125em;
    }

    .signup {
        margin-left: 20px;
        width: 250px;
        height: 35px;
        background-color: hsl(71, 73%, 54%);
        color: hsl(0, 0%, 100%);
        border: none;
        border-radius: 5px;
        font-size: 1.25em;
    }

    .whyUs {
        padding: 20px;
        grid-area: whyUs;
        background-color: hsl(179, 62%, 43%);
        text-align: left;
        border-radius: 0 0 5px 5px;
        width: 300px;

    }

    .title-why {
        font-weight: 700;
        font-size: 1.5em;
        color: hsl(0, 0%, 100%);
        margin-bottom: 10px;
    }


    .info-why {
        color: hsla(0, 0%, 100%, .5);
        padding: 0;
        margin: 0.625em 0 0 0;
        font-size: 0.875em;
    }

}